@model MiniHR.Application.DTOs.DepartmentDto

@using MiniHR.Application.DTOs

@{
    ViewBag.Title = "Create Department";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Department</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<div class="card shadow-sm mb-4">
    <h2 class="mb-4">@ViewBag.Title</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            @using (Html.BeginForm("Create", "Department", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

               
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.DepartmentName, "Department Name", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DepartmentName, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.HeadOfDepartment, "Head Of Department", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.HeadOfDepartment, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.HeadOfDepartment, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-success me-2">Create</button>
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-outline-secondary" })
                    @*@Html.ActionLink("Home", "Dashboard", null, new { @class = "btn btn-secondary" })*@
                </div>
            }
        </div>
    </div>
</div>
